.header {
  &__body {
    display: flex;
    @media (min-width: 767px) {
      align-items: center;
    }
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
  }
  &-text {
    @media (min-width: 901px) {
      width: 50%;
      margin-top: 5.219em;
    }
  }
  &__title {
    margin: 0 0px 0.8em 0px;
    @media (max-width: 1064px) {
      // font-size: 2.8125rem;
    }
    @media (max-width: 900px) {
      margin: 1.65em 0px 0.8em 0px;
    }
    @media (min-width: 900px) {
      padding: 0px 15px 0px 0px;
    }
  }
  &__text {
    @media (min-width: 575px) {
      max-width: 539px;
      padding: 0 15px 0 0;
    }
  }
  &__link {
    font-family: $--main-font;
    font-weight: 700;
    line-height: 24px / 16px * 100%;
    color: $color-2;
    display: inline-block;
    margin-top: 2.5em;
    position: relative;
    @media (max-width: ($md3+px)) {
      margin-top: 3.813em;
    }
    @media (max-width: ($md4+px)) {
      margin-top: 2em;
      @include adaptiv-font(16, 15); // 16px это шрифт PC, а 15, шрифт на 320px
    }
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 104px;
      height: 3px;
      background-color: #ffce50;
      bottom: -0.2em;
      transition: all 0.3s ease 0s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 104px;
      height: 3px;
      background-color: #ffce50;
      bottom: -0.2em;
      transition: top 0.3s;
    }
  }
  &__images {
    z-index: 2;
    @media (min-width: 901px) {
      width: 52.5%;
      padding: 0 0 40.7% 0;
    }
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      padding: 0 0 75.5% 0;
      height: 100%;
    }
    @media (max-width: ($md3+px)) {
      margin-top: 3.5em;
    }
    @media (max-width: ($md4+px)) {
      margin-top: 2.5em;
    }
    width: 100%;
    height: 314px;
    margin: 8.8em 0 0 0;
    position: relative;
    overflow: hidden;
    border-radius: 20px 0 20px 20px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__image {
    @media (max-width: 900px) {
      max-height: 314px;
      max-width: 100%;
    }
  }
}
.header__link:hover::after {
  transition: all 0.3s ease 0s;
  opacity: 1;
  top: 0;
}
.title {
  font-weight: 600;
  line-height: 65px / 52px * 100%; // Где 65 это line-height, а 52 font-size
  color: $color-2;
  @include adaptiv-font(52, 28); // 52px это шрифт PC, а 28, шрифт на 320px
}
.text {
  font-family: $--main-font;
  font-weight: 400;
  line-height: 24px / 16px * 100%; // Где 24 это line-height, а 16 font-size
  @include adaptiv-font(16, 15); // 52px это шрифт PC, а 28, шрифт на 320px
}
.header-decor {
  // margin-right: -9.5em;
  transform: translateX(2%);
  width: 41.7%;
  height: 787px;
  top: 0;
  right: 0;
  position: absolute;
  // background-color: $color-4;
  // outline: 1px solid rgb(89, 83, 177);
  z-index: 1;
  @media (min-width: 900px) {
    // height: 747px;
  }
  @media only screen and (min-width: 768px) and (max-width: 900px) {
    width: 25%;
  }
}

/* header-bottom  ==================================================================================================== */
.main__row {
  border-radius: 20px;
  border: 1px solid $color-5;
  box-shadow: 0px 4px 20px 0px #00000026;
  position: relative;
  background-color: #fff;
  display: flex;
  margin: 4.688em 0 5.813em 0;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 3;
  @media only screen and (min-width: 576px) and (max-width: 966px) {
    display: block;
    border: none;
    box-shadow: none;
    margin: 3.125em 0 5.5em 0;
  }
  @media (max-width: 576px) {
    justify-content: flex-start;
  }
  @media (max-width: ($md3+px)) {
    margin-top: 3.188em;
  }
  @media (max-width: ($md4+px)) {
    margin-top: 3.5em;
  }
}
.main__item {
  @media (min-width: 967px) {
    margin: 2.0625em 0 3.938em 0;
    position: relative;
    text-align: start;
    &:first-child {
      margin: 2.0625em 0 3.938em -22px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 966px) {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2.188em 0 2.938em 0;
    margin: 0;
    border-radius: 20px;
    border: 1px solid $color-5;
    box-shadow: 0px 4px 15px 0px #0000001f;
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
  &:first-child::after {
    display: none;
  }
  @media (max-width: 957px) {
    &:nth-child(3)::after {
      display: none;
    }
  }
  @media (min-width: 966px) {
    &::after {
      content: "";
      position: absolute;
      left: -4em;
      top: 0;
      width: 1px;
      height: 85%;
      background-color: $color-5;
    }
  }
  &-icon {
    width: 92px;
    height: 92px;
    background-color: $color-6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    @media only screen and (min-width: 320px) and (max-width: 966px) {
      margin: 0 2em;
    }
    @media only screen and (min-width: 320px) and (max-width: 575px) {
      width: 68px;
      height: 68px;
      margin-top: 1.7em;
    }
  }
  &-title {
    max-width: 14.25rem;
    color: $color-2;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 27px / 20px * 100%;
    @include adaptiv-font(20, 18); // 52px это шрифт PC, а 28, шрифт на 320px
    @media (max-width: ($md3+px)) {
      margin-top: 0.5em;
      max-width: 100%;
    }
    @media only screen and (min-width: 600px) and (max-width: 966px) {
      max-width: 100%;
    }
    @media (min-width: 966px) {
      margin-top: 1.0625em;
    }
  }
  &-text {
    max-width: 14.063rem;
    margin-top: 1em;
    line-height: 24px / 16px * 100%;
    @include adaptiv-font(16, 15); // 16px это шрифт PC, а 15, шрифт на 320px
    @media (max-width: 966px) {
      max-width: 100%;
    }
    @media only screen and (min-width: 577px) and (max-width: 966px) {
      margin-top: 1.25em;
    }
    @media only screen and (min-width: 320px) and (max-width: 576px) {
      margin-top: 0.75em;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
    }
  }
  .icon-image {
    width: 50px;
    height: 50px;
    @media only screen and (min-width: 320px) and (max-width: 575px) {
      width: 37px;
      height: 37px;
    }
  }
  &-wrap {
    @media only screen and (min-width: 320px) and (max-width: 966px) {
      padding: 0px 20px 0px 0px;
    }
    @media only screen and (min-width: 320px) and (max-width: 575px) {
      margin-left: 2em;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    &:last-child {
      margin-bottom: 1.5em;
    }
  }
}
/* activity  ============================================================================================================== */

.activity {
  &__title {
    font-size: 3rem;
    line-height: 60px / 48px * 100%;
    @media (min-width: ($md3+px)) {
      font-size: 3rem;
    }
    @media (max-width: ($md3+px)) {
      font-size: 2.75rem;
    }
    @media (max-width: ($md4+px)) {
      font-size: 1.75rem;
    }
  }
  &__text {
    max-width: 41.688rem;
    margin-top: 2em;
    @media only screen and (min-width: 320px) and (max-width: 575px) {
      display: none;
    }
  }
}
